<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.user.mapper.DaySettingMapper">

    <!--userVo-->
    <sql id="DaySettingSql">
        id,
        user_id,
        invest_amount,
        levels,
            fund_cycle,
            cost,
        isread,
            start_time,
            end_time,
            is_settled,
            total_allocation_fund,
            loss_close_line,
            loss_warn_line

    </sql>

    <insert id="insertDaySetting" parameterType="com.example.user.model.bo.DaySetting" keyProperty="id" useGeneratedKeys="true">
        insert into day_setting ( user_id, invest_amount, levels,fund_cycle, cost,isread,start_time,end_time,is_settled,total_allocation_fund,loss_close_line,loss_warn_line)
        values ( #{userId,jdbcType=BIGINT}, #{investAmount,jdbcType=DECIMAL}, #{levels,jdbcType=INTEGER},#{fundCycle,jdbcType=DECIMAL},#{cost,jdbcType=DECIMAL},
                 1 ,#{startTime,jdbcType=VARCHAR},#{endTime,jdbcType=VARCHAR} ,0 ,#{totalAllocationFund,jdbcType=DECIMAL},#{lossCloseLine,jdbcType=DECIMAL},#{lossWarnLine,jdbcType=DECIMAL})

    </insert>

    <select id="selectByUnSettled"   resultType="com.example.user.model.bo.DaySetting" >
        SELECT
        <include refid="DaySettingSql"/>
        FROM
        day_setting
        WHERE is_settled = 0
    </select>
    <update id="updateDaySetting" parameterType="com.example.user.model.bo.DaySetting"  >
        update day_setting
        set   user_id = #{userId}, invest_amount=#{investAmount}, levels =#{levels},return_money=#{returnMoney},
              fund_cycle=#{fundCycle}, cost =#{cost},isread=#{isread},start_time=#{startTime},end_time=#{endTime},is_settled=#{isSettled},
              total_allocation_fund=#{totalAllocationFund},   loss_close_line=#{lossCloseLine}, loss_warn_line=#{lossWarnLine}
        where id = #{id}
    </update>



</mapper>
